.btn {
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
   padding: 0;
   width: 10%;
   cursor: pointer;
   outline: none;
   background: transparent;
   text-transform: uppercase;
   color: #ffeba7;
   line-height: 40px;
   font-size: 11px;
   border-radius: 45px;
   transition: all 0.4s;
   margin: 5px auto;
}

#one{
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   /* line-height:1.5em; */
   background:transparent;
   border:solid 5px #ffeba7;
}
 
  /* #two{
     border:dotted 5px hsla(0, 95%, 35%, 1);
  }
  #three{
     border:dashed 5px hsla(0, 95%, 35%, 1);
  } */
.subtitle {
   font-family: 'Montserrat', sans-serif;
   font-size: 1 vw;
   margin: 5px;
   color: #a7996b;
   text-align: left;
   font-style: italic;
}
.content{
   font-family: 'Montserrat', sans-serif;
   font-size: 1 vw;
   margin: 5px;
   color: #fff1c4;
   text-align: left;
}
 